// ▪︎ color
$purple: #571751; 
$teal: #00A2A6; 
$pink: #C94768; 
$green: #BFDA71;
$white: #FFFFFF;

// ▪︎ typography
$font-regular: 'arvil';
$weight-regular: 400;
$weight-medium: 500;
$weight-bold: 700;
