// ▪︎ Sass variables
@import 'variables';

/*Reset*/
/* body,div,span,ul,ol,dl,li,dt,dd,h1,h2,h3,h4,h5,h6,form,fieldset,label,input,textarea,p,th,td {margin:0;padding:0;} */

/*Google fonts
font-family: 'arvil', sans-serif;
font-weight: 400; - normal
font-weight: 500; - medium
font-weight: 700; - bold
*/

/*Color Guide
#571751 - Purple
#00A2A6 - Teal
#C94768 - Pink
#BFDA71 - Green
*/

/* :::::::::: General :::::::::: */
* {}

body {
	width: 100%;
	height: 100%;
    margin: 0;
    padding: 0;
    background-color: #BFDA71;
    background-image: url("http://www.lukemichaels.com/images/FlannelBackground.jpg");
    background-repeat: repeat;
    color: #C94768;
}  

#wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 900px;
	background-color: #BFDA71;
}
@media all and (max-width: 959px) {

    .content .x700{display:block;}
    .content .x490{display:none;}
    .content .x290{display:none;}

}

@media all and (max-width: 720px) {

    .content .x700{display:none;}
    .content .x490{display:block;}
    .content .x290{display:none;}

}

@media all and (max-width: 479px) {

    .content .x700{display:none;}
    .content .x490{display:none;}
    .content .x290{display:block;}

}
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}
.col {
	display: block;
	float: left;
	/* margin: 1% 1% 1% 1%; */
}
.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */
@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}
#piece-wrapper {
	float: left;
	margin: 2% 0;
	padding: 2%;
	background-color: #FFFFFF;
}

/* :::::::::: Even Grid of Two */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
    padding: 0 1%;
    width: 50%;
}
@media only screen and (max-width: 680px) {
	.span_2_of_2 {
		width: 100%; 
	}
	.span_1_of_2 {
		width: 100%; 
	}
}
/* :::::::::: Grid of Two */
.two-columns-main {
	float: right; 
	width: 75%;
}
.two-columns-left {
	float: left; 
	padding: 2% 2%; 
	width: 21%;	
}
.two-columns-left img {
	width: 100%; 
}
@media only screen and (max-width: 480px) {
	.two-columns-main {
		float: left; 
		width: 100%;
	}
	.two-columns-left {
		float: right; 
		padding: 2% 2%; 
		width: 100%;	
	}
}

/* :::::::::: Navigation :::::::::: */
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 15px;
}
.navbar {
    border: 0px;
    margin-bottom: 0px;
    min-height: 25px;
    /* position: relative; */
}
.navbar-inner {
	background: #00A2A6;
	/* line-height: 0; */
}
.navbar-inner .container{
	width: 100%;
	max-width: 900px;
}
.nav-collapse{
	position: relative;
	float: right;
	padding-top: 10px;
	width: 100%;
	min-height: 35px;
}
.stat-nav{
	float: right;
	margin: 0;
	padding: 0;
	/* width: 32%; */
}
.stat-nav li{
	padding-right: 15px;
}
.dropdown-toggle{
	/* float: right; */
}
.dropdown-menu{
	float: left;
	position: absolute;
	margin: 4px 0 0 -84px;
	top: 100%;
	left: 0;
	padding: 5px 0;
	min-width: 160px;
	border: 0px;
    border-radius: 0px;
    box-shadow: none !important;
    display: none;
    font-size: 14px; 
    list-style: none outside none; 
    background: #00A2A6;
    z-index: 1000;
}
.dropdown-menu li ul{
	margin: 0;
	padding: 0;
}
.dropdown-menu li {
	padding: 5% 10%;
    font-size: 12px;   
}
.dropdown-menu li a {
	position: relative;
    float: left;
    width: 100%;
    color: #FFFFFF;
    display: block;
    font-weight: normal;
    line-height: 0;
    padding: 3px 0px;
	text-decoration: none;    
}
.dropdown-menu li a:hover{
	color: #ca4768;
}
.dropdown-menu li a:visited{
	color: #ca4768;
}
.drop-nav{
	position: relative;
	float: right;
	margin: 0;
    padding: 0;
}
.drop-nav li .dropdown{
	float: left; 
	width: 25% !important;
}

.nav {
}
.nav li{
	float: left;
	/* width: 25%; */
}
.nav li a{
	color: #FFFFFF;
}
.drop-nav li{
	float: left;
	width: 100%;
}
.nav li a{
    position: relative;
    padding: 0%;
    display: block;
    font-size: 1em;
}
.nav li a:hover{
	color: #ca4768;
}
.nav li a:visited{
	color: #ca4768;
}
.nav li a:hover, .nav li a:focus{
	background-color: #00A2A6;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #00A2A6;
    border-color: #00A2A6;
}
.nav .caret {
    border-bottom-color: #FFFFFF;
    border-top-color: #FFFFFF;
}
.nav a:hover .caret {
    border-bottom-color: #ca4768;
    border-top-color: #ca4768;
}
.name-wrapper{
	float: left;
	padding-left: 3px;
	width: 15%;
	min-height: 35px;
	color: #FFFFFF;
}
.name{
	position: relative;
	float: left;
	margin-top: 10px;
	height: 10px;
	font-size: 1em;
	color: #FFFFFF;
}
@media only screen and (max-width : 800px) {
	#share-icons {
		display: none;
	}
	#feature {
		display: none;
	}
}
#share-icons {
	position: relative;
	float: left;
	padding: 0;
	height: 75px;
	width: 525px;
	border: 0;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
} 
#share-icons li {
	background: url('../images/ui/2014-Social-Icons.jpg') 0 0 no-repeat;
	position: absolute;
	height: 75px;
	display: block;
	list-style: none;
}
#share-icons a {
	height: 75px;
	display: block;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
} 
#share-icons #email-social { left: 0px; height: 75px; width:75px; }
#share-icons #twitter-social { left: 75px; background-position: -75px 0; height: 75px; width: 75px; }
#share-icons #instagram-social { left: 150px; background-position: -150px 0; height: 75px; width: 75px; }
#share-icons #facebook-social { left: 225px; background-position: -225px 0; height: 75px; width: 75px; }
#share-icons #flickr-social { left: 300px; background-position: -300px 0; height: 75px; width: 75px; }
#share-icons #linkedin-social { left: 375px; background-position: -375px 0; height: 75px; width: 75px; }
#share-icons #behance-social { left: 450px; background-position: -450px 0; height: 75px; width: 75px; }
#share-icons #email-social a:hover { background: url('../images/ui/2014-Social-Icons.jpg') 0px -75px no-repeat; }
#share-icons #twitter-social a:hover { background: url('../images/ui/2014-Social-Icons.jpg') -75px -75px no-repeat; }
#share-icons #instagram-social a:hover { background: url('../images/ui/2014-Social-Icons.jpg') -150px -75px no-repeat; }
#share-icons #facebook-social a:hover { background: url('../images/ui/2014-Social-Icons.jpg') -225px -75px no-repeat; }
#share-icons #flickr-social a:hover { background: url('../images/ui/2014-Social-Icons.jpg') -300px -75px no-repeat; }
#share-icons #linkedin-social a:hover { background: url('../images/ui/2014-Social-Icons.jpg') -375px -75px no-repeat; }
#share-icons #behance-social a:hover { background: url('../images/ui/2014-Social-Icons.jpg') -450px -75px no-repeat; }

/* :::::::::: General Typography :::::::::: */
body {font-size:12px; font-family: 'arvil', sans-serif; font-weight: 500; line-height: 18px;}
h1 {font-family: 'arvil', sans-serif !important; font-weight: 700; color: #FFFFFF; padding:0px;}
h2 {font-family: 'arvil', sans-serif !important; font-weight: 500; color: #571751; padding:0px;}
h3 {font-family: 'arvil', sans-serif !important; font-weight: 500; color: #C94768; padding:0px;}
h4 {font-family: 'arvil', sans-serif !important; font-weight: 500; color: #00A2A6; padding:0px;}
#CopyrightText {text-align:center; font-family: 'arvil', sans-serif !important; font-weight: 500; color: #571751; padding:0px;}
p { font-family: 'arvil',sans-serif !important; font-weight: 500; }
a { font-family: 'arvil',sans-serif !important; color: #00A2A6; text-decoration: none; font-weight: 500; cursor: pointer;  }
a:visited { font-family: 'arvil',sans-serif !important; color: #00A2A6; text-decoration: none; font-weight: 500; cursor: pointer; }
a:hover, a:focus, a:active { color: #571751; text-decoration: none; cursor: pointer; }

#h1 {
    color: #FFFFFF !important;
    font-size: 5.0px;
    font-weight: 500;
    padding: 0;
}
#main {
  margin: 30px 0;
  position: relative;
}
#full{
	float: left;
	margin: 2%;
	width: 96%;
	text-align: center;
}
#full #h1 {
    color: #FFFFFF !important;
    font-size: 5.0px;
    font-weight: 500;
    padding: 0;
}
#full p{
	color: #571751;
    font-size: 1.0em;
    font-weight: 500;
}
#full img{
	width: 100%;
}
#half{
	float: left;
	margin: 2%;
	width: 46%;
	min-width: 46%;
}
#half img{
	width: 100%;
}
#left{
	float: left;
	width: 17%;
	margin: 2%;
}
#right{
	float: right;
	width: 75%;
	margin: 2%;
}
#right h1{
	margin-bottom: 5px !important;
    margin-top: 0 !important;
	color: #571751;
    font-size: 1.4em;
    font-weight: 700;
}
#right h2{
	margin-bottom: 5px !important;
    margin-top: 0 !important;
	color: #571751;
    font-size: 1.2em;
    font-weight: 500;
}
#right h3{
	margin-bottom: 5px !important;
    margin-top: 0 !important;
	color: #C94768;
    font-size: 1.2em;
    font-weight: 500;
}
#right h4{
	margin: 0 !important;
    color: #00A2A6;
    font-size: 1.2em;
    font-weight: 500;  
}
#right img{
	width: 100%;
}
#gallery{
	width: 96%;
	margin: 2%;
}
#gallery h1{
	margin-bottom: 5px !important;
    margin-top: 0 !important;
	color: #571751;
    font-size: 1.4em;
    font-weight: 700;
}
#gallery h2{
	margin-bottom: 5px !important;
    margin-top: 0 !important;
	color: #571751;
    font-size: 1.2em;
    font-weight: 500;
}
#gallery h3{
	margin-bottom: 5px !important;
    margin-top: 0 !important;
	color: #C94768;
    font-size: 1.2em;
    font-weight: 500;
}
#gallery h4{
	margin: 0 !important;
    color: #00A2A6;
    font-size: 1.2em;
    font-weight: 500;  
}
#gallery img{
	width: 100%;
}

/* :::::::::: Footer Gallery Navigation :::::::::: */
.container {
	display: table;
	height: 100%;
}
.block {
	display: table-row;
	height: 1px;
}
.push {
	height: auto;
}

/* :::::::::: Old Gallery Navigation :::::::::: */
.navigation-buttons a:hover{
	color: #C94768;
}
.print-navigation-button a{
	color : #571751; 
	padding-left:15px; 
	font-size: 16px; 
	text-decoration:none;
}
.print-navigation-sub-buttons a{
	color : #571751; 
	padding-left:25px; 
	font-size: 14px; 
	text-decoration:none;
}
.web-navigation-button a{
	color : #F6893E; 
	padding-left:15px; 
	font-size: 16px; 
	text-decoration:none;
}
.web-navigation-sub-buttons a{
	color : #F6893E; 
	padding-left:25px; 
	font-size: 14px; 
	text-decoration:none;
}
.logos-button a{
	color : #B52942; 
	padding-left:15px; 
	font-size: 16px; 
	text-decoration:none;
}
.misc-navigation-button a{
	color : #00A2A6; 
	padding-left:15px; 
	font-size: 16px; 
	text-decoration:none;
}
.misc-navigation-sub-buttons a{
	color : #00A2A6; 
	padding-left:25px; 
	font-size: 14px; 
	text-decoration:none;
}
.print-navigation-button a:hover{
	color : #F6893E; 
	padding-left:15px; 
	font-size: 16px; 
	text-decoration:none;
}
.print-navigation-sub-buttons a:hover{
	color : #F6893E; 
	padding-left:25px; 
	font-size: 14px; 
	text-decoration:none;
}
.web-navigation-button a:hover{
	color : #B52942; 
	padding-left:15px; 
	font-size: 16px; 
	text-decoration:none;
}
.web-navigation-sub-buttons a:hover{
	color : #B52942; 
	padding-left:25px; 
	font-size: 14px; 
	text-decoration:none;
}
.logos-button a:hover{
	color : #00A2A6; 
	padding-left:15px; 
	font-size: 16px; 
	text-decoration:none;
}
.misc-navigation-button a:hover{
	color : #571751; 
	padding-left:15px; 
	font-size: 16px; 
	text-decoration:none;
}
.misc-navigation-sub-buttons a:hover{
	color : #571751; 
	padding-left:25px; 
	font-size: 14px; 
	text-decoration:none;
}

/* :::::::::: About Page :::::::::: */
#AboutSidebar a:hover {
	color: #C94768;
}
.AboutTitle {
	font-size: 1.2em;
	color: #571751;
}
.AboutHeading {
	font-size: 1em;
	color: #C94768;
}
.AboutDetail {
	font-size: 1em;
	color: #00A2A6;
}
/* :::::::::: Services Page :::::::::: */
.ServicesHeading {
	color: #00A2A6;
}
/* :::::::::: Contact Page :::::::::: */
#ContactMain input {
	width: 100%;
}
#ContactMain textarea {
	width: 100%;
}
.form-buttons {
	float: right;
	width: 100%;
	text-align: right;
}
.form-buttons button {
	font-size: 1em;
	color: #00A2A6;
    cursor: pointer;
    font-family: 'arvil',sans-serif !important;
    font-weight: 500;
    text-decoration: none;
    border: none;
	outline: none;
	background: none;
}
.form-buttons button:hover {
	color: #C94768;
}
#ContactSidebar a:hover {
	color: #C94768;
}